@keyframes download-page {
	to {
		color:lightgray;
	}
}

body {
	background-color: #08000C;
	color: #5DD9EF;
	font-family: 'Times New Roman', Times, serif;

	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}

.main {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid white;
}

header {
	display: inline-flex;
	background-color:#202021;
    padding: 5;
	width: 100%;
}

.spectrum_logo {
	height: 50px;

	margin-left: 3px;
	margin-top: 1px;
}

header button {
	background-color: #202021;
	border-width: 0px;

	margin-left: 20px;
	color: white;
	font-size: 30;
}

header button:hover {
	animation-name: download-page;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

a {
	text-decoration: none;
	color: #5DD9EF;
}

footer h2 {
	text-align: right;
}

button {
	cursor: pointer;
}