body {
	background-color: #212121;
	color: white;

	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}

header {
	background-color:black;
    padding-left: 10;
}

.nuosite-button {
    background-color: black;
	border-width: 0;
}

.sitename {
	color: lightblue;
	font-size: 40;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a {
	text-decoration: none;
}

footer h2 {
	text-align: right;
}