header {
	background-color: #1e76a8;
}

.sitename {
	color: white;
	font-size: 50;
}

a {
	text-decoration: none;
}

.clicker {
	background-color: greenyellow;
}

.clicker h1 {
	text-align: center;
}

.click {
	width: 900;
	height: 900;

	background-color: orange;
	font-size: 100;
}