body {
    display: inline-flex;
    background-color: black;

    color: white;

    position: fixed
}

canvas {
    border: 1px solid white;
}

body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "canvas-div particles atoms";
  }
  
  .canvas { grid-area: canvas; }
  
  .particles { grid-area: particles; }
  
  .atoms { grid-area: atoms; }
  