div {
	display: inline-block;
	padding: 30;
	vertical-align: top;
}

.clicker h1 {
	text-align: center;
}

.clicker h2 {
	font-size: 30;
}

.click {
	width: 1000;
	height: 1000;

	background-color: #2ab088;
	font-size: 100;

	border-radius: 1%;
}

.shop h1 {
	text-align: center;
}

.shop button {
	width: 200;
	height: 40;

	font-size: 20;

	background-color: orange;

	border-width: 2;
	border-color: white;

	margin-bottom: 10;
}