main {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.main {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

div div {
	padding: 30;
	vertical-align: top;

	background-color: black;
	margin: 10;
}

button {
	margin: 10;
}

.clicker h1 {
	text-align: center;
}

.clicker h2 {
	font-size: 30;
}

.click {
	background-color: #2ab088;
	font-size: 100;

	border-width: 5;
}

.shop h1 {
	text-align: center;
}

.shop button {
	width: 200;
	height: 40;

	font-size: 20;

	background-color: orange;

	border-color: white;

	margin-bottom: 10;
}

.delete {
	width: 200;
	height: 40;
}